name: detect-unused-secrets

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * MON'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.DETECT_UNUSED_SECRETS_APP_ID }}
          private_key: ${{ secrets.DETECT_UNUSED_SECRETS_APP_PRIVATE_KEY }}
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Detect unused secrets
        uses: nearform-actions/github-action-detect-unused-secrets@main
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
